.language {
    background-color: var(--color-neutral-light-grayish-cyan-bg);

    max-width: fit-content;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    color: var(--color-primary-desaturated-dark-cyan);
    padding: 5px;
}