.Featured {
    background-color: var(--color-neutral-very-dark-grayish-cyan);
    max-width: min-content;
    padding-top: 3px;
    padding-inline: 10px;
    border-radius: 25px;
    display: flex;
    font-size: 14px;
    font-weight: 500; 
}

.Featured__text {
    text-transform: uppercase;
    color: white;
    

}